<h2>All Works</h2>

<section class="works-wrapper">

  <% @works.each do |work| %>

    <div class="works-individual">
      <figure>
        <img class="works" src="<%= work.image_url %>" alt="">
      </figure>

      <figcaption class="works-info">

        <h5><%= work.title %></h5>
        <h5><%= work.medium %></h5>
        <h5><%= work.dimensions %></h5>
        <p><%= work.notes %></p>
        <a href="/admin/dashboard/works/<%= work.id %>/edit">Edit</a>

        <form action="/admin/dashboard/<%= work.id %>/delete" method="post">
          <button class="delete-btn">delete</button>
        </form>

      </figcaption>
    </div>

    <div class="clearfix">
    </div>

  <% end %>

</section>
