<h2>Selected Works</h2>

<section class="works-wrapper">

  <% @works.each do |work| %>

    <div class="works-individual">
      <figure>
        <img class="works" src="<%= work.image_url %>" alt="">
      </figure>

      <figcaption class="works-info">
        <h5><%= work.title %></h5>
        <h5><%= work.medium %></h5>
        <h5><%= work.dimensions %></h5>
        <p><%= work.notes %></p>
      </figcaption>
    </div>

      <div class="clearfix">
      </div>

  <% end %>

</section>
