<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mia Cera Salsjo Artist</title>
  <meta name="description" content="Mia Salsjo Contemporary Australian Artist Installation Art Silkscreen Drawing Video Art">
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>

<body>

  <header>
    <% if request.path.start_with?('/admin') %>
    <%= erb(:_header_admin) %>
    <% else %>
    <%= erb(:_header) %>
    <% end %>
  </header>

  <aside>
    <% if request.path.start_with?('/admin') %>
    <%= erb(:_sidebar_admin) %>
    <% elsif request.path_info == '/' ||
    request.path_info == '/works' ||
    request.path_info == '/biography' ||
    request.path_info == '/contact' %>
    <%= erb(:_sidebar) %>
    <% end %>
  </aside>

  <main>
    <%= yield %>
  </main>

  <footer>
    <%= erb(:_footer) %>
  </footer>

  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>
    tinymce.init({
    selector: '.rtf_edit',
    skin: 'lightgray',
    plugins: 'link',
    menubar: false,
    toolbar: 'undo redo | bold italic underline | link',
    width: 600,
    height : 500,
  });
  </script>
</body>
</html>
