<h3>Search Results</h3>

<% if @works == [] %>

  <span>No results found<span>

<% else %>

  <% @works.each do |work| %>

    <figure>
      <img class="works" src="<%= work.image_url %>" alt="">
    </figure>

    <figcaption class="works-info">
      <h5><%= work.title %></h5>
      <h5><%= work.medium %></h5>
      <h5><%= work.dimensions %></h5>
      <p><%= work.notes %></p>
      <a href="/admin/dashboard/works/<%= work.id %>/edit">Edit</a>
    </figcaption>

  <% end %>

<% end %>

<a href="/admin/dashboard">Back to Works</a>
