<% if !params[:category] %>
<h2>All Works</h2>
<% else %>
<h3><%= @title %></h3>
<% end %>

<section class="works-wrapper">

  <% @works.each do |work| %>

    <figure>
      <a href="#"><img class="works" src="<%= work.image_url %>" alt=""></a>
    </figure>

    <figcaption class="works-info">
      <h5><%= work.title %></h5>
      <h5><%= work.medium %></h5>
      <h5><%= work.dimensions %></h5>
      <p><%= work.notes %></p>
    </figcaption>

    <div class="clearfix">
    </div>

  <% end %>

</section>
